@media only screen and (min-width: 700px) {

    .intro {

        height: 600px;

    }

    .introtext {

        line-height: 69px;
        margin: 150px auto;
        text-align: center;

    }

    .introtext h2 {
        font-size: 40px;
        animation-duration: 4s;

    }



    .introtext h1 {
        font-size: 47px;

        animation-duration: 5s;

    }



    .introtext h1 span {
        font-size: 55px;

    }

    .introtext h4 {
        font-size: 30px;
        line-height: 29px
    }

    .socialicons {
        display: flex;
        text-align: center;
        margin: 20px auto;
        width: 190px;
        animation: icons;
        animation-fill-mode: forwards;
        animation-duration: 6.5s;
        position: relative;
        justify-content: space-between;

    }

    @keyframes icons {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .socialicons .fa-twitter {
        text-align: center;
        color: #6dd5ed;
        margin-top: 6px;
        font-size: 49px;
        font-weight: bold;
        cursor: pointer;
    }

    .socialicons .fa-instagram {
        text-align: center;
        color: #6dd5ed;
        font-size: 47px;
        font-weight: bold;
        cursor: pointer;
    }

    .socialicons .fa-linkedin {
        text-align: center;
        color: #6dd5ed;
        font-size: 47px;
        font-weight: bold;
        cursor: pointer;
    }

    .socialicons .fa-twitter:hover {
        color: #dbd5a4;
        transform: scale(1.2);
        transition: 0.5s ease-out;
    }

    .socialicons .fa-instagram:hover {
        color: #dbd5a4;
        transform: scale(1.2);
        transition: 0.5s ease-out;
    }

    .socialicons .fa-linkedin:hover {
        color: #dbd5a4;
        transform: scale(1.2);
        transition: 0.5s ease-out;
    }

    #fixedarrow {
        font-size: 35px;

    }






}

@media only screen and (min-width: 1024px) {



    .aboutimage img {
        width: 250px;
        height: 250px;
    }

    .aboutmetext {
        font-size: 19px;
        text-align: center;
    }



    #servicescontent {
        grid-template-columns: 1fr 1fr;

    }

    #servicescontent>div:nth-child(3) {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .services {
        width: 300px;
    }

    .serviceslogo {
        font-size: 55px;
    }

    .serviceslogo .fa-mobile-alt {
        font-size: 55px;

    }

    .servicestext h4 {
        padding-bottom: 7px;
        font-size: 22px
    }

    .servicestext p {
        font-size: 20px;
        padding: 7px;
        line-height: 30px;
    }


    #skillscontent {
        font-size: 21px;
    }

    #contactcontent {
        font-size: 25px;
    }

    #contactcontent .fa-twitter,
    .fa-instagram,
    .fa-envelope,
    .fa-linkedin {
        font-size: 45px;

    }

    #darkmode {

        font-size: 30px;

    }

    .logo {

        font-size: 30px;

    }

    .header {
        height: 60px;
    }


    /* .intro{background-image: url(PSX_20191026_222859.jpg)} */

}

@media only screen and (min-width: 2400px) {}